<form [ngFormModel]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword"
               type="text"
               class="form-control"
               ngControl="oldPassword"
               #oldPassword="ngForm">
        <div *ngIf="oldPassword.errors.required"
             class="alert alert-danger">
            Old password is required
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword"
               type="text"
               class="form-control"
               ngControl="newPassword"
               #newPassword="ngForm">
        <div *ngIf="newPassword.errors.required"
             class="alert alert-danger">
            New password is required
        </div>
        <!--<div *ngif="newPassword.errors.passwordShouldBeAtLeastXChar"-->
             <!--class="alert alert-danger">-->
            <!--Password should be at least {{5}} characters-->
        <!--</div>-->
    </div>
    <div class="form-group">
        <label for="repeatPassword">Confirm Password</label>
        <input id="repeatPassword"
               type="text"
               class="form-control"
               ngControl="repeatPassword"
               #repeatPassword="ngForm">
        <div *ngIf="repeatPassword.errors.required"
             class="alert alert-danger">
            Confirm the password
        </div>
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>